############################
# Python cache
############################
__pycache__/
*.py[cod]
*$py.class

############################
# Virtual environments
############################
venv/
.venv/

############################
# PyTest
############################
.pytest_cache/
.cache/

############################
# Selenium artifacts
############################
screenshots/
reports/
allure-results/
allure-report/
failure-analysis/        
performance_logs/  

############################
# Logs
############################
logs/
*.log

############################
# Temp files
############################
output/
tmp/
temp/

############################
# IDE / Editor
############################
.vscode/
.idea/
*.iml

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Packaging
############################
*.egg-info/
dist/
build/

############################
# Coverage
############################
.coverage
htmlcov/

############################
# Selenium drivers
############################
chromedriver*
geckodriver*
msedgedriver*

############################
# Environment variables
############################
.env
