selenium==4.35.0
pytest==9.0.3
pytest-html==4.2.0
pytest-xdist==3.8.0
pytest-rerunfailures==16.1
requests==2.32.4
allure-pytest==2.16.0
webdriver-manager==4.0.2
python-dotenv==1.1.1
PyYAML==6.0.2
loguru==0.7.3
tenacity==9.1.2